
services:
  server:
    container_name: server
    # depends_on:
    #   - mongodb
    #on build le server avec le dockerfile du dossier server
    build: ./
    restart: always
    env_file: .env
    ports:
      - 8080:8080
    environment:
        - ENV_TYPE=prod
        - NODE_PORT= 8080;
        - MONGODB_URL=mongodb://mongo:27017/guillaume

    stdin_open: true
    tty: true
    cap_drop:
      - ALL
    networks:
      - server

  mongo:
    image: mongo
    ports:
     - 27017:27017
    volumes:
      - mongo-data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    command: mongod --bind_ip_all
    networks: 
      - server
volumes:
  mongo-data:

networks:
  server:
    driver: bridge
